NEXT_PUBLIC_SITE_URL=https://7phone.net
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_PRODUCT_IMAGES_BUCKET=product-images
SUPABASE_SITE_ASSETS_BUCKET=site-assets
